@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: black;
  --gray: #777777;
  --mid-gray: #555555;
  --light-gray: hsl(0, 0%, 90%);
  --white: #ffffff;
  --font-primary: Noto Sans KR;
}

body {
  font-family: var(--font-primary) !important;
  font-weight: 400 !important;
  color: var(--primary);
}

.bold {
  font-weight: 700 !important;
}

.ananke-socials a {
  color: var(--light-gray);
  fill: currentColor;
}

.ananke-socials a.link:hover {
  color: var(--white);
}

.btn {
  width: fit-content;
  padding: 1rem;
  border-radius: 3rem;
}

.link {
  font-family: var(--font-primary);
}

.justify {
  text-align: justify;
}

pre,
code {
  background-color: var(--light-gray);
  color: var(--primary);
}

code {
  padding: 0 0.1rem;
  border-radius: 3px;
}

p {
  text-align: justify;
}

img,
pre,
.rounded {
  border-radius: 20px;
}

.justify {
  text-align: justify;
}

.text-center p {
  text-align: center;
}

.page-link {
  display: flex !important;
  justify-content: center !important;
  min-width: 3rem !important;
  border-radius: 20px !important;
}

.btn-container {
  display: flex;
  margin-top: 2rem;
}

.btn-summary {
  display: inline-block;
  padding: 0.4rem 1rem;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  vertical-align: middle;
  transition: 0.15s ease-in;
}

.btn-summary:hover {
  background-color: var(--mid-gray);
}

.author {
  display: flex;
  justify-content: end;
}
